.cms {
    width: 100%;
    height: 100%;
}

.logo {
    width: 200px;
    height: 56px;
    float: right;
    margin-top: -18px;
}

span {
    color: red;
}


header ul {
    padding-top: 20px;
    padding-left: 0px;
    background-color: rgb(97, 91, 91);
    height: 36px;
}


header ul li {
    display: inline;
    color: white;
    margin-bottom: 0px;
    padding: 20px;

}
header ul li:hover{
    background-image:linear-gradient(90deg, rgba(253,29,29,1) 88%, rgba(252,176,69,1) 100%);
}

header ul li a {
    text-decoration: none;
    color: white;
}


.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 250px 0px 15px;

}

footer {
    color: rgb(47, 47, 129);
}

.container {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

}

.user {
    background-color: rgb(191, 191, 211);

}

td {
    text-align: right;

}

.phone {
    display: flex;
    flex-direction: row;

}

select {
    width: 480px
}